@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variable';
@import './singleProduct';
@import './navbar';
@import './profile';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container,
.side_nav-bar,
.login{
  min-height: 100vh;
}

.chat {
  min-height: 80vh;
}
